@import './variables.scss';

.button {
  height: 2.5em;

  .full-size-btn {
    //border: 1px dotted yellow;
    width: 100%;
    max-width: 100%;
    height: 2.5em;
    display: flex;

    .left-btn-side {
      //border: 1px dotted red;

      flex: 0;

      display: flex;
      align-items: center;
      justify-content: left;
    }

    .caption-btn {
      //border: 1px dotted green;

      flex: 2;
      min-width: 0;

      .rows {
        height: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;

        flex: 1;
        min-width: 0;

        .row {
          //border: 1px dotted pink;

          flex: 1;

          display: flex;
          justify-content: center; /* align horizontal */
          align-items: center; /* align vertical */

          span {
            min-width: 0;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }
      }

      .hazard-icons-btn {
      }

      .button-details {
        width: 100%;

        .caption1,
        .caption2 {
          padding-top: 5px;
          text-align: right;
          float: left;
          width: 25%;
        }

        .value1,
        .value2 {
          float: left;
          width: 25%;
          font-size: 1.5em;
        }

        @media only screen and (max-width: $small-screen-width) {
          .caption1,
          .caption2 {
            padding-top: 0;
          }
          .value1,
          .value2 {
            font-size: 1em;
          }
        }
      }


    }

    .right-btn-side {
      flex: 0;

      display: flex;
      flex-direction: column;
      padding-top: 0.2em;
      padding-bottom: 0.2em;

      .indicator-box {
        flex: 0;

        display: block;
        width: 0.7em;
        height: 0.7em;
        padding: 0.1em;
      }

      .indicator-color-red {
        color: $indicator-red;
      }

      .indicator-color-yellow {
        color: $indicator-yellow;
      }

      .indicator-color-green {
        color: $indicator-green;
      }
    }
  }
}

.button:has(.hazard-icons-btn), .full-size-btn:has(.hazard-icons-btn) {
  height: 4em !important;
}


.warning-sign {
  color: $indicator-yellow;
}

.complete-btn {
  width: 100%;
  font-size: 1.5rem;
}

@media only screen and (max-width: $small-screen-width) {
  .complete-btn {
    font-size: 1rem;
  }
}
